
.navigationbar {
    background-color:#8CB29D;
    vertical-align: baseline;
    display: inline-block;
    width: 100%;

}

li {
    display: inline;
    float: right;
    padding: 10px;
}

.heroImg {
    display: grid;
    background-color: white;
    width: 600px;
    padding: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 6px lightgray, -4px -4px 6px lightgray;
}
.image {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.bio {
    text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}

.buttongrid{
    margin: 100px auto;
    width:1200px;
    height:1200px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 200px;
    grid-row-gap: 200px;
    justify-content: center;
}
button {
    font-size: 24px;
}