.body {
    font-family: "Kobe1.1";
}
.inline-block {
    background-color:#D4D4D4;
    vertical-align: baseline;
    display: inline-block;
    width: 100%;

}

li {
    display: inline;
    float: right;
    padding: 10px;
}

.heroImg {
    background-color: white;
    width: 300px;
    outline-style: outset;
    padding: 50px;
    margin: 20px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
.button {
    color: darkgreen;
}
.buttongrid{
    display: grid;
}